# APP_ENV: development | production
APP_ENV=development
DEBUG=true

ARTICLE_PORT=8001

DATABASE_URL=mysql+aiomysql://article_user:password@db:3306/article
MYSQL_ROOT_PASSWORD=password

MYSQL_USER=article_user
MYSQL_PASSWORD=password
MYSQL_DATABASE=article